<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from_name %><br />
    <%= f.text_field :from_name %>
  </div>
  <div class="field">
    <%= f.label :from_email %><br />
    <%= f.text_field :from_email %>
  </div>
  <div class="field">
    <%= f.label :to_name %><br />
    <%= f.text_field :to_name %>
  </div>
  <div class="field">
    <%= f.label :to_email %><br />
    <%= f.text_field :to_email %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <!--<div class="field"> <%#= show_simple_captcha(object: 'message') %> </div>-->
  <div class="field">
    <%= f.simple_captcha code_type: 'numeric' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
